
@{
    ViewBag.Title = "UnAuthorized";
}
<div class="card">
    <div class="header">
        <h2>
            @ViewBag.Title.ToUpper()
        </h2>
    </div>
    <div class="body">
        <p><strong>YOU DON'T HAS PERMISSION TO ENTRY ACTION</strong></p>
    </div>
</div>
