
@{
    ViewBag.Title = "ErrorPayment";
}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Booking</h2>
                    <div class="bt-option">
                        <a href="javascript(void:0)">Booking</a>
                        <span>Error</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="about-page-text">
                    <div class="row">
                        <div class="col">
                            <div class="ap-title">
                                <h2>Sorry for this problems</h2>
                                <p>
                                    Some error when you try to payment a booking!!!
                                </p>
                                <p>
                                    Please try again.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>